@page "/"

@using WarehouseManagement.Shared.Models.Product
@inject HttpClient Http

@if (listProduct == null || listProduct.Count == 0)
{
    <p>Not found any product.</p>
}
else
{
    @foreach (var product in listProduct)
    {
        <p>@product.Name</p>
    }
}

@code {
    List<ProductViewModel>? listProduct;

    protected override async Task OnInitializedAsync()
    {
        listProduct = await Http.GetFromJsonAsync<List<ProductViewModel>>(
            "api/Test/allProduct");
    }
}